*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    height: 100vh;
    max-height: 100vh;
    background-color: rgb(38, 66, 53);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.players-container{
    display: flex;
    gap: 50px;
}

.display-info{
    color: white;
    font-weight: bolder;
}

.player{
    display: flex;
    color: white;
    font-weight: bolder;
    flex-direction: column;
    gap: 20px;
}

input[type="text"]{
    background-color: transparent;
    border: none;
    text-align: center;
    color: white;
    font-size: 16px;
    border: 1px transparent solid;
    padding: 10px;
    width: 100px;
}

input[type="text"]:hover{
    border: 1px white solid;
}
.player .score{
    font-size: 20px;
    text-align: center;
}
.board-container{
    display: grid;
    grid-template-columns:repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    gap: 1px;
}

.board-item{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 2000;
    background-color: rgb(34, 24, 18)
}

.options-container button{
    border: none;
    padding: 20px 15px;
    font-size: 15px;
    color: white;
    background-color: rgb(194, 124, 19);
}

