*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    height: 100vh;
    max-height: 100vh;
    background-color: rgb(15, 14, 14);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.players-container{
    display: flex;
    gap: 50px;
}

.display-info{
    color: white;
    font-weight: bolder;
}

.player{
    display: flex;
    color: white;
    font-weight: bolder;
    flex-direction: column;
    gap: 20px;
}

.player .score{
    font-size: 20px;
    text-align: center;
}
.board-container{
    display: grid;
    grid-template-columns:repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    gap: 1px;
}

.board-item{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 2000;
    background-color: rgb(71, 34, 10)
}

.options-container button{
    border: none;
    padding: 20px 15px;
    font-size: 15px;
    color: white;
    background-color: rgb(70, 16, 67);
}

